@using Sem3_backend.Models
@model LoginViewModel
@{
    Layout = null;
    }
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/Custom css/main.css" rel="stylesheet" />
</head>
<body class="auth-wrapper">
    <div class="all-wrapper menu-side with-pattern">
        <div class="auth-box-w">
            <div class="logo-w">
                <img alt="" src="~/Content/Images/logo-big.png" />
            </div>
            <h4 class="auth-header">
                Login Form
            </h4>
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="form-group">
                    @Html.LabelFor(m => m.Email)
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Enter your Email" })
                    <div class="pre-icon os-icon os-icon-user-male-circle"></div>
                </div>
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Enter your password" })
                    <div class="pre-icon os-icon os-icon-fingerprint"></div>
                </div>
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                <div class="buttons-w">
                    <button class="btn btn-primary" type="submit">Log me in</button>
                    @Html.ActionLink("Forgot your password?", "ForgotPassword", "AccountController", new { @class = "pl-4" })
                </div>
            }
        </div>
    </div>
</body>
</html>
