@model IEnumerable<Sem3_backend.Models.Restaurent>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Bredcrumbs{
    <li class="breadcrumb-item">
        <a href="@Url.Action("Index","Restaurents")">Restaurents List</a>
    </li>
}

<h2>Restaurents List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TouristSpot.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quality)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th></th>
    </tr>


@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TouristSpot.Name)
        </td>
        <td>
            <img src="http://res.cloudinary.com/a123abc/image/upload/@item.ImageUrl" style="width:150px;" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quality)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RestaurentId }) |
            @Html.ActionLink("Details", "Details", new { id=item.RestaurentId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RestaurentId })
        </td>
    </tr>
}


</table>
